Repository continuousactivelearning/vibe, pull requests merged in 2024-12, with the labels that each got.

#46 LLMs Finetuning on (Unsloth/LLaMa 3.2) and Prompt engineering on Gemini 1.5 Pro/Ollama 3.2 for questions generation
  backend-cal/LLMs/LLM.pdf
  backend-cal/LLMs/LLMs FineTuning.ipynb
  backend-cal/LLMs/llama.py
  backend-cal/LLMs/notebook.ipynb
  backend-cal/LLMs/subtitle.txt
  backend-cal/LLMs/videoProcessing.py
  backend-cal/cal_engine/assessment/admin.py
  backend-cal/cal_engine/assessment/migrations/0002_remove_questionoption_question_and_more.py
  backend-cal/cal_engine/assessment/migrations/0003_answer.py
  backend-cal/cal_engine/assessment/models.py
  backend-cal/cal_engine/assessment/serializers.py
  backend-cal/cal_engine/assessment/urls.py
  backend-cal/cal_engine/assessment/views.py
  backend-cal/cal_engine/institution/management/commands/create_dummy_data.py
Labels: backend

#55 Remove frontend-related Docker and devcontainer configurations
  .devcontainer/frontend/devcontainer.json
  dev/Dockerfile-frontend
  dev/docker-compose-frontend.yml
  dev/docker-compose.yml
  frontend-cal/.devcontainer/devcontainer.json
Labels: frontend, devops

#57 Add CODEOWNERS file for repository ownership management
  docs/CODEOWNERS
Labels: docs

#42 Frontend Updates
  frontend-cal/constant.ts
  frontend-cal/index.html
  frontend-cal/package-lock.json
  frontend-cal/package.json
  frontend-cal/src/components/Login.tsx
  frontend-cal/src/components/Logout.tsx
  frontend-cal/src/components/Signup.tsx
  frontend-cal/src/components/nav-user.tsx
  frontend-cal/src/components/proctoring-components/CameraAndMicCheck.tsx
  frontend-cal/src/components/proctoring-components/EyeTrackingWithWebGazer.tsx
  frontend-cal/src/components/proctoring-components/MultiPersonDetection.tsx
  frontend-cal/src/components/sidebar-left.tsx
  frontend-cal/src/components/sidebar-right.tsx
  frontend-cal/src/components/ui/carousel.tsx
  frontend-cal/src/components/ui/resizable.tsx
  frontend-cal/src/components/ui/scroll-area.tsx
  frontend-cal/src/components/ui/select.tsx
  frontend-cal/src/components/ui/table.tsx
  frontend-cal/src/index.css
  frontend-cal/src/main.tsx
  frontend-cal/src/pages/About.tsx
  frontend-cal/src/pages/Home.tsx
  frontend-cal/src/pages/LoginPage.tsx
  frontend-cal/src/pages/Students/AllCourses.tsx
  frontend-cal/src/pages/Students/Assignments.tsx
  frontend-cal/src/pages/Students/Courses.tsx
  frontend-cal/src/pages/Students/DummyForm.tsx
  frontend-cal/src/pages/Students/SingleCourse.tsx
  frontend-cal/src/pages/Students/StudentHome.tsx
  frontend-cal/src/pages/Students/Testing.tsx
  frontend-cal/src/routes/index.ts
  frontend-cal/src/store/apiService.ts
  frontend-cal/src/store/slices/authSlice.ts
  frontend-cal/src/store/slices/courseSlice.ts
  frontend-cal/src/store/slices/instituteSlice.ts
  frontend-cal/src/store/slices/usersSlice.ts
  frontend-cal/src/store/slices/videoDetailsSlice.ts
  frontend-cal/src/store/store.ts
Labels: frontend, dependencies

#61 Update backend Dockerfile to use Python 3.12
  dev/Dockerfile-backend
Labels: devops

#62 Dev frontend
  frontend-cal/package-lock.json
  frontend-cal/package.json
  frontend-cal/src/components/proctoring-components/FacePoseDetector.tsx
  frontend-cal/src/components/proctoring-components/RealTimeBlurDetection.tsx
  frontend-cal/src/components/sidebar-left.tsx
  frontend-cal/src/components/sidebar-right.tsx
  frontend-cal/src/pages/Students/AllCourses.tsx
  frontend-cal/src/pages/Students/DummyForm.tsx
  frontend-cal/src/pages/Students/SingleCourse.tsx
  frontend-cal/src/routes/index.ts
  frontend-cal/src/store/apiService.ts
Labels: frontend, dependencies

#43 Add Voice Activity Detection feature
  frontend-cal/package-lock.json
  frontend-cal/package.json
  frontend-cal/src/components/proctoring-components/VoiceActivityDetection.tsx
  frontend-cal/src/components/sidebar-right.tsx
  frontend-cal/src/models/yamnet.tflite
Labels: frontend, dependencies

#74 Enhance Docker setup for backend and PostgreSQL services
  .gitattributes
  backend-cal/ephemeral_data_engine/.devcontainer/devcontainer.json
  dev/Dockerfile-backend
  dev/docker-compose-backend-ede.yml
Labels: backend, devops

#75 Remove unused modules and add course structure models
  backend-cal/lms_engine/.devcontainer/devcontainer.json
  backend-cal/lms_engine/cal_engine/course/admin.py
  backend-cal/lms_engine/cal_engine/course/models.py
  backend-cal/lms_engine/cal_engine/course/models/__init__.py
  backend-cal/lms_engine/cal_engine/course/models/article.py
  backend-cal/lms_engine/cal_engine/course/models/course.py
  backend-cal/lms_engine/cal_engine/course/models/module.py
  backend-cal/lms_engine/cal_engine/course/models/section.py
  backend-cal/lms_engine/cal_engine/course/models/section_item.py
  backend-cal/lms_engine/cal_engine/course/models/source.py
  backend-cal/lms_engine/cal_engine/course/models/video.py
  backend-cal/lms_engine/cal_engine/feedback/__init__.py
  backend-cal/lms_engine/cal_engine/feedback/admin.py
  backend-cal/lms_engine/cal_engine/feedback/apps.py
  backend-cal/lms_engine/cal_engine/feedback/migrations/__init__.py
  backend-cal/lms_engine/cal_engine/feedback/models.py
  backend-cal/lms_engine/cal_engine/feedback/serializers.py
  backend-cal/lms_engine/cal_engine/feedback/tests.py
  backend-cal/lms_engine/cal_engine/feedback/urls.py
  backend-cal/lms_engine/cal_engine/feedback/views.py
  backend-cal/lms_engine/cal_engine/settings.py
  backend-cal/lms_engine/cal_engine/study_content/QuestionGen.py
  backend-cal/lms_engine/cal_engine/study_content/__init__.py
  backend-cal/lms_engine/cal_engine/study_content/admin.py
  backend-cal/lms_engine/cal_engine/study_content/apps.py
  backend-cal/lms_engine/cal_engine/study_content/forms.py
  backend-cal/lms_engine/cal_engine/study_content/migrations/__init__.py
  backend-cal/lms_engine/cal_engine/study_content/models.py
  backend-cal/lms_engine/cal_engine/study_content/serializers.py
  backend-cal/lms_engine/cal_engine/study_content/signals.py
  backend-cal/lms_engine/cal_engine/study_content/tests.py
  backend-cal/lms_engine/cal_engine/study_content/urls.py
  backend-cal/lms_engine/cal_engine/study_content/views.py
  backend-cal/lms_engine/cal_engine/tracking/__init__.py
  backend-cal/lms_engine/cal_engine/tracking/admin.py
  backend-cal/lms_engine/cal_engine/tracking/apps.py
  backend-cal/lms_engine/cal_engine/tracking/migrations/__init__.py
  backend-cal/lms_engine/cal_engine/tracking/models.py
  backend-cal/lms_engine/cal_engine/tracking/serializers.py
  backend-cal/lms_engine/cal_engine/tracking/tests.py
  backend-cal/lms_engine/cal_engine/tracking/urls.py
  backend-cal/lms_engine/cal_engine/tracking/views.py
  backend-cal/lms_engine/cal_engine/urls.py
  dev/Dockerfile-backend-lmse
  dev/docker-compose-backend-lmse.yml
Labels: backend, devops

#76 add vad
  frontend-cal/src/components/proctoring-components/VoiceActivityDetection.tsx
  frontend-cal/src/components/sidebar-right.tsx
  frontend-cal/src/models/yamnet.tflite
Labels: frontend

#83 Rename ephemeral data engine to content engine and update configurations
  README.md
  backend/content_engine/.devcontainer/devcontainer.json
  backend/content_engine/README.md
  backend/content_engine/package.json
  dev/Dockerfile-backend-ce
  dev/Dockerfile-backend-ede
  dev/docker-compose-backend-ce.yml
Labels: docs, backend, devops

#90 Initialize Activity Engine with Express, Prisma, and PostgreSQL
  backend/activity_engine/.devcontainer/devcontainer.json
  backend/activity_engine/.gitignore
  backend/activity_engine/README.md
  backend/activity_engine/openapi.json
  backend/activity_engine/package-lock.json
  backend/activity_engine/package.json
  backend/activity_engine/prisma/schema.prisma
  backend/activity_engine/src/api/v1/controllers/answers.controller.ts
  backend/activity_engine/src/api/v1/controllers/attempts.controller.ts
  backend/activity_engine/src/api/v1/controllers/grader.controller.ts
  backend/activity_engine/src/api/v1/controllers/metrics.controller.ts
  backend/activity_engine/src/api/v1/middlewares/errorHandler.ts
  backend/activity_engine/src/api/v1/routes/answers.router.ts
  backend/activity_engine/src/api/v1/routes/attempts.router.ts
  backend/activity_engine/src/api/v1/routes/grader.router.ts
  backend/activity_engine/src/api/v1/routes/index.ts
  backend/activity_engine/src/api/v1/routes/metrics.router.ts
  backend/activity_engine/src/api/v1/validators/answers.validator.ts
  backend/activity_engine/src/config/prisma.ts
  backend/activity_engine/src/index.ts
  backend/activity_engine/src/repositories/answers.repository.ts
  backend/activity_engine/src/repositories/attempts.repository.ts
  backend/activity_engine/src/repositories/metrics.repository.ts
  backend/activity_engine/src/services/answers.service.ts
  backend/activity_engine/src/services/attempts.service.ts
  backend/activity_engine/src/services/grader.service.ts
  backend/activity_engine/src/services/metrics.service.ts
  backend/activity_engine/tsconfig.json
  backend/content_engine/package.json
  dev/Dockerfile-backend-ae
  dev/Dockerfile-backend-ce
  dev/docker-compose-backend-ae.yml
Labels: docs, backend, devops

#91 Enhance Activity Engine documentation and update API terminology
  backend/activity_engine/README.md
  backend/activity_engine/openapi.json
  backend/activity_engine/src/index.ts
Labels: docs, backend

#96 Fix incorrect repo link in README
  README.md
Labels: docs

#108 Fix backend linter error
  .github/workflows/linter.yml
Labels: devops

#109 Frontend after integration
  frontend-cal/package-lock.json
  frontend-cal/package.json
  frontend-cal/src/pages/About.tsx
  frontend-cal/src/pages/Students/LatestTest.tsx
  frontend-cal/src/pages/Students/VideoAssessment.tsx
  frontend-cal/src/routes/index.ts
  frontend-cal/tailwind.config.js
Labels: frontend, dependencies

#104 add gesture detection
  frontend-cal/src/components/proctoring-components/HandsDetection.tsx
Labels: frontend

#113 backend: Question Generator Complete
  backend/ai_engine/.gitignore
  backend/ai_engine/README.md
  backend/ai_engine/app/__init__.py
  backend/ai_engine/app/main.py
  backend/ai_engine/app/models.py
  backend/ai_engine/app/rag.py
  backend/ai_engine/app/routers/__init__.py
  backend/ai_engine/app/routers/question.py
  backend/ai_engine/app/schemas.py
  backend/ai_engine/app/services.py
  backend/ai_engine/app/templates/index.html
  backend/ai_engine/app/templates/test.html
  backend/ai_engine/faiss_index/index.faiss
  backend/ai_engine/faiss_index/index.pkl
  backend/ai_engine/metadata.json
  backend/ai_engine/requirements.txt
Labels: docs, backend

#114 Proctoring integration
  frontend-cal/package-lock.json
  frontend-cal/package.json
  frontend-cal/src/components/proctoring-components/BlurDetection.tsx
  frontend-cal/src/components/proctoring-components/FacePoseDetector.tsx
  frontend-cal/src/components/proctoring-components/HandsDetection.tsx
  frontend-cal/src/components/proctoring-components/ParentComponent.tsx
  frontend-cal/src/components/proctoring-components/SnapshotRecorder.tsx
  frontend-cal/src/components/proctoring-components/VoiceActivityDetection.tsx
  frontend-cal/src/components/sidebar-right.tsx
  frontend-cal/src/lib/cloudUtils.ts
  frontend-cal/src/lib/dbUtils.ts
  frontend-cal/src/lib/snapUtils.ts
  frontend-cal/tailwind.config.js
Labels: frontend, dependencies
