Repository continuousactivelearning/vibe, pull requests merged in 2025-02, with the labels that each got.

#149 backend: lms: Improved API Documentation for User Endpoints and Updated Course Content Endpoints
  backend/lms_engine/core/course/views/section_items.py
  backend/lms_engine/core/settings.py
  backend/lms_engine/core/users/serializers.py
  backend/lms_engine/core/users/urls.py
  backend/lms_engine/core/users/views.py
  backend/lms_engine/core/users/views/__init__.py
  backend/lms_engine/core/users/views/user_course_views.py
  backend/lms_engine/core/users/views/user_institution_views.py
  backend/lms_engine/core/users/views/user_views.py
  backend/lms_engine/core/utils/schema.py
  backend/lms_engine/core/v1_urls.py
Labels: backend-lmse

#155 Updated README File
  README.md
  backend/README.md
  backend/activity_engine/README.md
Labels: docs

#187 feat(activity_engine): Integrate Firebase Functions and update dependencies
  backend/activity_engine/.firebaserc
  backend/activity_engine/.gitignore
  backend/activity_engine/firebase.json
  backend/activity_engine/package-lock.json
  backend/activity_engine/package.json
  backend/activity_engine/src/server.ts
Labels: backend-ae

#172 Cicd test
  .gitignore
  backend/ai_engine/app/models.py
  backend/lms_engine/Dockerfile
  backend/lms_engine/README.md
  backend/lms_engine/core/asgi.py
  backend/lms_engine/core/assessment/urls.py
  backend/lms_engine/core/authentication/firebase.py
  backend/lms_engine/core/course/serializers/course.py
  backend/lms_engine/core/course/serializers/module.py
  backend/lms_engine/core/course/serializers/section_items.py
  backend/lms_engine/core/settings/__init__.py
  backend/lms_engine/core/settings/base.py
  backend/lms_engine/core/settings/development.py
  backend/lms_engine/core/settings/production.py
  backend/lms_engine/core/users/admin.py
  backend/lms_engine/core/users/apps.py
  backend/lms_engine/core/users/models.py
  backend/lms_engine/core/users/signals.py
  backend/lms_engine/core/users/signals/user_course_instance_signal.py
  backend/lms_engine/core/v1_urls.py
  backend/lms_engine/core/wsgi.py
  backend/lms_engine/docker-compose.yml
  backend/lms_engine/manage.py
  backend/lms_engine/nginx.conf
  backend/lms_engine/poetry.lock
  backend/lms_engine/pyproject.toml
  prod/lmse.Dockerfile
  prod/lmse.Dockerfile.dockerignore
Labels: devops, backend-ae, backend-lmse
