Repository continuousactivelearning/vibe, pull requests merged in 2025-07, with the labels that each got.

#425 Branch Migration: Moving Gamification Changes to new upstream branch
  backend/package.json
  backend/src/container.ts
  backend/src/index.ts
  backend/src/modules/gamification/classes/index.ts
  backend/src/modules/gamification/classes/transformers/EventTrigger.ts
  backend/src/modules/gamification/classes/transformers/Events.ts
  backend/src/modules/gamification/classes/transformers/GameMetric.ts
  backend/src/modules/gamification/classes/transformers/MetricAchievement.ts
  backend/src/modules/gamification/classes/transformers/MetricTrigger.ts
  backend/src/modules/gamification/classes/transformers/Rule.ts
  backend/src/modules/gamification/classes/transformers/UserGameAchievement.ts
  backend/src/modules/gamification/classes/transformers/UserGameMetric.ts
  backend/src/modules/gamification/classes/transformers/index.ts
  backend/src/modules/gamification/classes/validators/GamifyEngineValidators.ts
  backend/src/modules/gamification/classes/validators/GamifyLayerValidators.ts
  backend/src/modules/gamification/classes/validators/index.ts
  backend/src/modules/gamification/container.ts
  backend/src/modules/gamification/controllers/GamifyEngineController.ts
  backend/src/modules/gamification/controllers/GamifyLayerController.ts
  backend/src/modules/gamification/controllers/index.ts
  backend/src/modules/gamification/index.ts
  backend/src/modules/gamification/services/AchievementService.ts
  backend/src/modules/gamification/services/EventService.ts
  backend/src/modules/gamification/services/MetricService.ts
  backend/src/modules/gamification/services/MetricTriggerService.ts
  backend/src/modules/gamification/services/RuleService.ts
  backend/src/modules/gamification/services/UserGameAchievementsService.ts
  backend/src/modules/gamification/services/UserGameMetricsService.ts
  backend/src/modules/gamification/services/index.ts
  backend/src/modules/gamification/tests/GamificationEngineController.test.ts
  backend/src/modules/gamification/tests/GamificationLayerController.test.ts
  backend/src/modules/gamification/types.ts
  backend/src/modules/settings/index.ts
  backend/src/shared/database/interfaces/IGamifyEngineRepository.ts
  backend/src/shared/database/interfaces/IGamifyLayerRepository.ts
  backend/src/shared/database/interfaces/IUserRepository.ts
  backend/src/shared/database/interfaces/index.ts
  backend/src/shared/database/providers/mongo/repositories/GamifyEngineRepository.ts
  backend/src/shared/database/providers/mongo/repositories/GamifyLayerRepository.ts
  backend/src/shared/database/providers/mongo/repositories/UserRepository.ts
  backend/src/shared/functions/generateOpenApiSpec.ts
  backend/src/shared/interfaces/models.ts
  backend/src/types.ts
  backend/tsconfig.json
  backend/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Labels: dependencies, backend

#424 feat(gamification): Commit of Scoring System
  backend/package.json
  backend/src/config/app.ts
  backend/src/container.ts
  backend/src/modules/auth/container.ts
  backend/src/modules/auth/services/FirebaseAuthService.ts
  backend/src/modules/gamification/classes/transformers/ScoringTransformer.ts
  backend/src/modules/gamification/classes/transformers/index.ts
  backend/src/modules/gamification/classes/validators/GamifyLayerValidators.ts
  backend/src/modules/gamification/classes/validators/ScoringValidators.ts
  backend/src/modules/gamification/classes/validators/index.ts
  backend/src/modules/gamification/container.ts
  backend/src/modules/gamification/controllers/GamifyLayerController.ts
  backend/src/modules/gamification/controllers/ScoreController.ts
  backend/src/modules/gamification/controllers/index.ts
  backend/src/modules/gamification/index.ts
  backend/src/modules/gamification/interfaces/index.ts
  backend/src/modules/gamification/interfaces/scoring.ts
  backend/src/modules/gamification/services/EventService.ts
  backend/src/modules/gamification/services/RuleService.ts
  backend/src/modules/gamification/services/ScoringService.ts
  backend/src/modules/gamification/services/index.ts
  backend/src/modules/gamification/tests/GamificationEngineController.test.ts
  backend/src/modules/gamification/tests/GamificationLayerController.test.ts
  backend/src/modules/gamification/tests/ScoreController.test.ts
  backend/src/modules/gamification/types.ts
  backend/src/modules/notifications/services/InviteService.ts
  backend/src/shared/database/interfaces/IGamifyLayerRepository.ts
  backend/src/shared/database/providers/mongo/repositories/GamifyEngineRepository.ts
  backend/src/shared/database/providers/mongo/repositories/GamifyLayerRepository.ts
  backend/src/shared/database/providers/mongo/repositories/WeightsRepository.ts
  backend/src/shared/database/providers/mongo/repositories/index.ts
  backend/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Labels: dependencies, backend

#428 Test cicd
  .github/workflows/deploy-backend-all.yml
  .github/workflows/deploy-frontend.yml
  backend/Dockerfile
  backend/scripts/generate-openapi.cjs
  backend/src/modules/notifications/services/InviteService.ts
  frontend/Dockerfile
  frontend/nginx.conf
Labels: frontend, devops, backend

#445 Test cicd
  .github/workflows/deploy-backend-all.yml
  .github/workflows/deploy-frontend.yml
  backend/Dockerfile
  backend/scripts/generate-openapi.cjs
  backend/src/config/app.ts
  backend/src/index.ts
  backend/src/instrument.ts
  backend/src/modules/notifications/services/InviteService.ts
  backend/src/shared/database/providers/mongo/MongoDatabase.ts
  backend/src/shared/middleware/errorHandler.ts
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/src/hooks/useWorker.ts
  frontend/vite.config.ts
Labels: frontend, devops, backend

#454 fix: prevent student role from rendering in instructor dashboard
  frontend/src/app/pages/teacher/course-page.tsx
Labels: frontend

#460 Fixes : OpenAPI spec & Test Script Changes
  backend/package.json
  backend/src/modules/gamification/classes/validators/GamifyLayerValidators.ts
  backend/src/modules/gamification/container.ts
  backend/src/modules/gamification/controllers/GamifyLayerController.ts
  backend/src/modules/gamification/controllers/ScoreController.ts
  backend/src/modules/gamification/index.ts
  backend/src/modules/gamification/services/EventService.ts
  backend/src/modules/gamification/services/RuleService.ts
  backend/src/modules/gamification/services/ScoringService.ts
  backend/src/modules/gamification/tests/GamificationEngineController.test.ts
  backend/src/modules/gamification/tests/GamificationLayerController.test.ts
  backend/src/modules/gamification/types.ts
  backend/src/shared/database/providers/mongo/repositories/GamifyEngineRepository.ts
  backend/src/shared/database/providers/mongo/repositories/GamifyLayerRepository.ts
  backend/src/shared/functions/generateOpenApiSpec.ts
  backend/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Labels: dependencies, backend
