Repository continuousactivelearning/vibe, pull requests merged in 2025-04, with the labels that each got.

#250 refactor(validators): rename payload validators and add MongoDB ID validation for params
  backend/src/modules/courses/classes/transformers/Item.ts
  backend/src/modules/courses/classes/transformers/Module.ts
  backend/src/modules/courses/classes/transformers/Section.ts
  backend/src/modules/courses/classes/validators/CourseValidators.ts
  backend/src/modules/courses/classes/validators/CourseVersionValidators.ts
  backend/src/modules/courses/classes/validators/ItemValidators.ts
  backend/src/modules/courses/classes/validators/ModuleValidators.ts
  backend/src/modules/courses/classes/validators/SectionValidators.ts
  backend/src/modules/courses/controllers/CourseController.ts
  backend/src/modules/courses/controllers/CourseVersionController.ts
  backend/src/modules/courses/controllers/ItemController.ts
  backend/src/modules/courses/controllers/ModuleController.ts
  backend/src/modules/courses/controllers/SectionController.ts
  backend/src/modules/courses/index.ts
Labels: backend

#263 Fix labeler workflow
  .github/workflows/labeler.yml
Labels: devops

#261 Add onboarding docs
  .gitignore
  docs/docs/api/_category_.json
  docs/docs/onboarding/_category_.json
  docs/docs/onboarding/common-tasks.md
  docs/docs/onboarding/tech-stack.md
  docs/docs/onboarding/workflow.md
Labels: docs

#258 Feat (Item): Item deletion + test case scripts for Item Deletion endpoint.
  backend/src/modules/courses/classes/transformers/Item.ts
  backend/src/modules/courses/classes/validators/ItemValidators.ts
  backend/src/modules/courses/controllers/ItemController.ts
  backend/src/modules/courses/tests/ItemsController.test.ts
  backend/src/shared/database/providers/mongo/repositories/CourseRepository.ts
Labels: backend

#269 fix(docs): remove broken links and exclude AuthenticatedRequest interface from API docs
  backend/src/modules/auth/interfaces/IAuthService.ts
  backend/src/modules/auth/interfaces/index.ts
  docs/docs/api/backend/Auth/Controllers/auth.AuthController.md
  docs/docs/api/backend/Auth/Errors/auth.ChangePasswordError.md
  docs/docs/api/backend/Auth/Interfaces/auth.AuthenticatedRequest.md
  docs/docs/api/backend/Auth/Interfaces/auth.IAuthService.md
  docs/docs/api/backend/Auth/Services/auth.FirebaseAuthService.md
  docs/docs/api/backend/Auth/Validators/auth.ChangePasswordBody.md
  docs/docs/api/backend/Auth/Validators/auth.SignUpBody.md
  docs/docs/api/backend/Courses/Controllers/courses.CourseController.md
  docs/docs/api/backend/Courses/Controllers/courses.CourseVersionController.md
  docs/docs/api/backend/Courses/Controllers/courses.ItemController.md
  docs/docs/api/backend/Courses/Controllers/courses.ModuleController.md
  docs/docs/api/backend/Courses/Controllers/courses.SectionController.md
  docs/docs/api/backend/Courses/Transformers/Item/courses.Item.md
  docs/docs/api/backend/Courses/Transformers/courses.Course.md
  docs/docs/api/backend/Courses/Transformers/courses.CourseVersion.md
  docs/docs/api/backend/Courses/Transformers/courses.ItemsGroup.md
  docs/docs/api/backend/Courses/Transformers/courses.Module.md
  docs/docs/api/backend/Courses/Transformers/courses.Section.md
  docs/docs/api/backend/Courses/Validators/CourseValidators/courses.CreateCourseBody.md
  docs/docs/api/backend/Courses/Validators/CourseValidators/courses.ReadCourseParams.md
  docs/docs/api/backend/Courses/Validators/CourseValidators/courses.UpdateCourseBody.md
  docs/docs/api/backend/Courses/Validators/CourseValidators/courses.UpdateCourseParams.md
  docs/docs/api/backend/Courses/Validators/CourseVersionValidators/courses.CreateCourseVersionBody.md
  docs/docs/api/backend/Courses/Validators/CourseVersionValidators/courses.CreateCourseVersionParams.md
  docs/docs/api/backend/Courses/Validators/CourseVersionValidators/courses.ReadCourseVersionParams.md
  docs/docs/api/backend/Courses/Validators/ItemValidators/courses.BlogDetailsPayloadValidator.md
  docs/docs/api/backend/Courses/Validators/ItemValidators/courses.CreateItemBody.md
  docs/docs/api/backend/Courses/Validators/ItemValidators/courses.CreateItemParams.md
  docs/docs/api/backend/Courses/Validators/ItemValidators/courses.DeleteItemParams.md
  docs/docs/api/backend/Courses/Validators/ItemValidators/courses.MoveItemBody.md
  docs/docs/api/backend/Courses/Validators/ItemValidators/courses.MoveItemParams.md
  docs/docs/api/backend/Courses/Validators/ItemValidators/courses.QuizDetailsPayloadValidator.md
  docs/docs/api/backend/Courses/Validators/ItemValidators/courses.ReadAllItemsParams.md
  docs/docs/api/backend/Courses/Validators/ItemValidators/courses.UpdateItemBody.md
  docs/docs/api/backend/Courses/Validators/ItemValidators/courses.UpdateItemParams.md
  docs/docs/api/backend/Courses/Validators/ItemValidators/courses.VideoDetailsPayloadValidator.md
  docs/docs/api/backend/Courses/Validators/ModuleValidators/courses.CreateModuleBody.md
  docs/docs/api/backend/Courses/Validators/ModuleValidators/courses.CreateModuleParams.md
  docs/docs/api/backend/Courses/Validators/ModuleValidators/courses.MoveModuleBody.md
  docs/docs/api/backend/Courses/Validators/ModuleValidators/courses.MoveModuleParams.md
  docs/docs/api/backend/Courses/Validators/ModuleValidators/courses.UpdateModuleBody.md
  docs/docs/api/backend/Courses/Validators/ModuleValidators/courses.UpdateModuleParams.md
  docs/docs/api/backend/Courses/Validators/SectionValidators/courses.CreateSectionBody.md
  docs/docs/api/backend/Courses/Validators/SectionValidators/courses.CreateSectionParams.md
  docs/docs/api/backend/Courses/Validators/SectionValidators/courses.MoveSectionBody.md
  docs/docs/api/backend/Courses/Validators/SectionValidators/courses.MoveSectionParams.md
  docs/docs/api/backend/Courses/Validators/SectionValidators/courses.UpdateSectionBody.md
  docs/docs/api/backend/Courses/Validators/SectionValidators/courses.UpdateSectionParams.md
  docs/docs/api/backend/Other/auth.authModuleOptions.md
  docs/docs/api/backend/Other/auth.md
  docs/docs/api/backend/Other/courses.coursesModuleOptions.md
  docs/docs/api/backend/typedoc-sidebar.cjs
  docs/docs/onboarding/workflow.md
Labels: docs, backend

#291 Added fixes and changes to CLI
  cli/src/commands/help.ts
  cli/src/commands/start.ts
  scripts/setup-unix.sh
Labels: devops

#274 feat(courses): implemented (delete module endpoint + cascade delete + tests)
  backend/src/modules/courses/classes/validators/ModuleValidators.ts
  backend/src/modules/courses/controllers/ModuleController.ts
  backend/src/shared/database/providers/mongo/MongoDatabase.ts
  backend/src/shared/database/providers/mongo/repositories/CourseRepository.ts
Labels: backend

#306 Added docs for CLI
  cli/src/findRoot.ts
  docs/docs/cli/intro.md
  docs/docs/getting-started/intro.md
  scripts/setup-unix.sh
Labels: docs

#307 feat(users): implement enrollment endpoint and remove legacy methods
  backend/.firebaserc
  backend/firebase.json
  backend/functions/.gitignore
  backend/functions/package.json
  backend/functions/src/index.ts
  backend/functions/tsconfig.json
  backend/package.json
  backend/src/index.ts
  backend/src/modules/auth/controllers/AuthController.ts
  backend/src/modules/auth/index.ts
  backend/src/modules/auth/tests/AuthController.test.ts
  backend/src/modules/courses/classes/validators/CourseVersionValidators.ts
  backend/src/modules/courses/classes/validators/ModuleValidators.ts
  backend/src/modules/courses/classes/validators/SectionValidators.ts
  backend/src/modules/courses/controllers/CourseController.ts
  backend/src/modules/courses/controllers/CourseVersionController.ts
  backend/src/modules/courses/controllers/ItemController.ts
  backend/src/modules/courses/controllers/ModuleController.ts
  backend/src/modules/courses/controllers/SectionController.ts
  backend/src/modules/courses/index.ts
  backend/src/modules/courses/tests/CourseController.test.ts
  backend/src/modules/courses/tests/CourseVersionController.test.ts
  backend/src/modules/courses/tests/ItemsController.test.ts
  backend/src/modules/courses/tests/ModuleController.test.ts
  backend/src/modules/users/classes/transformers/Enrollment.ts
  backend/src/modules/users/classes/transformers/Progress.ts
  backend/src/modules/users/classes/transformers/index.ts
  backend/src/modules/users/classes/validators/EnrollmentValidators.ts
  backend/src/modules/users/classes/validators/index.ts
  backend/src/modules/users/controllers/EnrollmentController.ts
  backend/src/modules/users/controllers/index.ts
  backend/src/modules/users/index.ts
  backend/src/modules/users/services/EnrollmentService.ts
  backend/src/modules/users/services/index.ts
  backend/src/modules/users/tests/EnrollementController.test.ts
  backend/src/shared/database/interfaces/ICourseRepository.ts
  backend/src/shared/database/providers/mongo/repositories/CourseRepository.ts
  backend/src/shared/database/providers/mongo/repositories/EnrollmentRepository.ts
  backend/src/shared/errors/errors.ts
  backend/src/shared/interfaces/IUser.ts
  backend/src/shared/middleware/ErrorHandler.ts
  cli/templates/test-file.txt
  docs/docs/onboarding/workflow.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: docs, dependencies, backend

#313 corrected Frontend start command
  docs/docs/getting-started/intro.md
Labels: docs

#323 feat: implement user progress tracking and enhance enrollment validation
  backend/src/modules/auth/interfaces/IAuthService.ts
  backend/src/modules/auth/services/FirebaseAuthService.ts
  backend/src/modules/courses/classes/transformers/Course.ts
  backend/src/modules/courses/classes/transformers/CourseVersion.ts
  backend/src/modules/courses/classes/transformers/Item.ts
  backend/src/modules/courses/classes/transformers/Module.ts
  backend/src/modules/courses/classes/transformers/Section.ts
  backend/src/modules/courses/classes/validators/CourseValidators.ts
  backend/src/modules/courses/classes/validators/CourseVersionValidators.ts
  backend/src/modules/courses/classes/validators/ItemValidators.ts
  backend/src/modules/courses/classes/validators/ModuleValidators.ts
  backend/src/modules/courses/classes/validators/SectionValidators.ts
  backend/src/modules/courses/controllers/CourseController.ts
  backend/src/modules/courses/controllers/CourseVersionController.ts
  backend/src/modules/courses/controllers/ModuleController.ts
  backend/src/modules/courses/tests/CourseVersionController.test.ts
  backend/src/modules/users/classes/transformers/Enrollment.ts
  backend/src/modules/users/classes/transformers/Progress.ts
  backend/src/modules/users/classes/validators/EnrollmentValidators.ts
  backend/src/modules/users/controllers/EnrollmentController.ts
  backend/src/modules/users/controllers/ProgressController.ts
  backend/src/modules/users/controllers/index.ts
  backend/src/modules/users/index.ts
  backend/src/modules/users/services/EnrollmentService.ts
  backend/src/modules/users/services/ProgressService.ts
  backend/src/modules/users/tests/EnrollementController.test.ts
  backend/src/modules/users/tests/ProgressController.test.ts
  backend/src/modules/users/tests/common.ts
  backend/src/modules/users/tests/repositories/ProgressRepository.test.ts
  backend/src/shared/database/interfaces/ICourseRepository.ts
  backend/src/shared/database/interfaces/IItemRepository.ts
  backend/src/shared/database/interfaces/IUserRepository.ts
  backend/src/shared/database/providers/mongo/repositories/CourseRepository.ts
  backend/src/shared/database/providers/mongo/repositories/EnrollmentRepository.ts
  backend/src/shared/database/providers/mongo/repositories/ProgressRepository.ts
  backend/src/shared/database/providers/mongo/repositories/UserRepository.ts
  backend/src/shared/errors/errors.ts
  backend/src/shared/interfaces/IValidator.ts
  backend/src/shared/interfaces/Models.ts
Labels: backend
