Repository continuousactivelearning/vibe, pull requests merged in 2025-05, with the labels that each got.

#336 feat: add reset progress endpoints and enhance the code and tests for modularity
  backend/package.json
  backend/src/modules/courses/utils/calculateNewOrder.ts
  backend/src/modules/users/classes/validators/ProgressValidators.ts
  backend/src/modules/users/classes/validators/index.ts
  backend/src/modules/users/controllers/ProgressController.ts
  backend/src/modules/users/services/ProgressService.ts
  backend/src/modules/users/tests/EnrollementController.test.ts
  backend/src/modules/users/tests/ProgressController.test.ts
  backend/src/modules/users/tests/utils/createCourse.ts
  backend/src/modules/users/tests/utils/createEnrollment.ts
  backend/src/modules/users/tests/utils/createUser.ts
  backend/src/modules/users/tests/utils/startStopAndUpdateProgress.ts
  backend/src/modules/users/tests/utils/verifyProgressInDatabase.ts
  backend/src/shared/database/providers/mongo/repositories/CourseRepository.ts
  backend/src/shared/database/providers/mongo/repositories/ProgressRepository.ts
Labels: dependencies, backend

#342 Annotated all validator classes, controllers and their functions with appropriate OpenAPI spec details.
  backend/package.json
  backend/src/modules/auth/classes/validators/AuthValidators.ts
  backend/src/modules/auth/controllers/AuthController.ts
  backend/src/modules/courses/classes/validators/CourseVersionValidators.ts
  backend/src/modules/courses/classes/validators/ItemValidators.ts
  backend/src/modules/courses/classes/validators/ModuleValidators.ts
  backend/src/modules/courses/classes/validators/SectionValidators.ts
  backend/src/modules/courses/controllers/CourseVersionController.ts
  backend/src/modules/courses/controllers/ItemController.ts
  backend/src/modules/courses/controllers/ModuleController.ts
  backend/src/modules/courses/controllers/SectionController.ts
  backend/src/modules/users/classes/validators/EnrollmentValidators.ts
  backend/src/modules/users/classes/validators/ProgressValidators.ts
  backend/src/modules/users/controllers/EnrollmentController.ts
  backend/src/modules/users/controllers/ProgressController.ts
  pnpm-lock.yaml
  scripts/setup-unix.sh
Labels: dependencies, backend

#352 Removed unused files for cleanup
  docs/newdocs/Github Tutorial/6. Github Exercises.md
  docs/newdocs/Github Tutorial/Github Tutorial 1.md
  docs/newdocs/Github Tutorial/Github Tutorial 2.md
  docs/newdocs/Github Tutorial/Github Tutorial 3.md
  docs/newdocs/Github Tutorial/Github Tutorial 4.md
  docs/newdocs/Github Tutorial/Github Tutorial 5.md
  docs/newdocs/Typescript/1. Introduction to TypeScript/1.2 Solution Introduction to Typescript.md
  docs/newdocs/Typescript/2. Basic Syntax/2.2 Solution Basic Syntax in Typescript.md
  docs/newdocs/Typescript/3. Variables in TypeScript/3.2 Solution Variables in Typescript.md
  docs/newdocs/Typescript/4. let & const/4.2 Solution let & const.md
  docs/newdocs/Typescript/5. Any type in TypeScript/5.2 Solution Any type in Typescript.md
  docs/newdocs/Typescript/6. Built-in Types/6.2 Solution Built in Data Types.md
  docs/newdocs/Typescript/7. User Defined Types/7.2 Solution User defined Types.md
  docs/newdocs/Typescript/8. Null vs Undefined/8.2 Solution Null vs Undefined.md
Labels: docs

#361 Added More files
  docs/newdocs/Typescript/10. Conditional Logics/Conditional Logic in TypeScript.md
  docs/newdocs/Typescript/11. Mastering Loops/Mastering Loops in TypeScript.md
  docs/newdocs/Typescript/12. Mastering Functions/Mastering Functions in TypeScript.md
  docs/newdocs/Typescript/13. Optional and Default Parameters/Optional and Default Parameters in TypeScript.md
  docs/newdocs/Typescript/9. Type Aliases/Type Aliases.md
Labels: docs

#353 Solutions removed from tutorials
  docs/docusaurus.config.ts
  docs/newdocs/Express/1. Getting Started with Express.md
  docs/newdocs/Express/2. Organizing Your Express Project for scalability.md
  docs/newdocs/Express/3. HTTP Methods & Status Codes.md
  docs/newdocs/Express/4. Request_Response.md
  docs/newdocs/Express/5. Routing Controllers.md
  docs/newdocs/Express/6. Middleware.md
  docs/newdocs/Express/7. Request Validation.md
  docs/newdocs/Express/8. MVC Pattern.md
  docs/newdocs/Typescript/10. Generics.md
  docs/newdocs/Typescript/11. Advanced Types.md
  docs/newdocs/Typescript/12. Decorators.md
  docs/newdocs/Typescript/13. Design Patterns.md
  docs/newdocs/Typescript/14. Dependency Injection.md
  docs/newdocs/Typescript/15. IoC Containers & Advanced Dependency Management.md
  docs/newdocs/Typescript/9. Classes & Access Modifiers.md
Labels: docs

#363 Refactor/users
  backend/.prettierrc.js
  backend/firebase.json
  backend/functions/package.json
  backend/functions/tsconfig.json
  backend/pnpm-lock.yaml
  backend/src/modules/courses/classes/validators/SectionValidators.ts
  backend/src/modules/courses/controllers/CourseVersionController.ts
  backend/src/modules/courses/controllers/ItemController.ts
  backend/src/modules/courses/controllers/ModuleController.ts
  backend/src/modules/courses/controllers/SectionController.ts
  backend/src/modules/courses/index.ts
  backend/src/modules/courses/services/CourseService.ts
  backend/src/modules/courses/services/CourseVersionService.ts
  backend/src/modules/courses/services/ItemService.ts
  backend/src/modules/courses/services/ModuleService.ts
  backend/src/modules/courses/services/SectionService.ts
  backend/src/modules/courses/services/index.ts
  backend/src/modules/courses/tests/CourseController.test.ts
  backend/src/modules/courses/tests/CourseVersionController.test.ts
  backend/src/modules/courses/tests/ItemsController.test.ts
  backend/src/modules/courses/tests/ModuleController.test.ts
  backend/src/modules/courses/tests/SectionController.test.ts
  backend/src/modules/users/classes/validators/EnrollmentValidators.ts
  backend/src/modules/users/controllers/EnrollmentController.ts
  backend/src/modules/users/index.ts
  backend/src/modules/users/services/EnrollmentService.ts
  backend/src/modules/users/services/ProgressService.ts
  backend/src/modules/users/tests/EnrollementController.test.ts
  backend/src/modules/users/tests/ProgressController.test.ts
  backend/src/modules/users/tests/repositories/ProgressRepository.test.ts
  backend/src/modules/users/tests/utils/createCourse.ts
  backend/src/shared/database/index.ts
  backend/src/shared/database/interfaces/ICourseRepository.ts
  backend/src/shared/database/interfaces/IItemRepository.ts
  backend/src/shared/database/providers/mongo/MongoDatabase.ts
  backend/src/shared/database/providers/mongo/repositories/CourseRepository.ts
  backend/src/shared/database/providers/mongo/repositories/EnrollmentRepository.ts
  backend/src/shared/database/providers/mongo/repositories/ItemRepository.ts
  backend/src/shared/errors/errors.ts
  backend/tsconfig.json
  backend/typedoc.json
Labels: backend

#372 Refactor Auth Controller
  backend/package.json
  backend/src/index.ts
  backend/src/modules/auth/classes/validators/AuthValidators.ts
  backend/src/modules/auth/controllers/AuthController.ts
  backend/src/modules/auth/interfaces/IAuthService.ts
  backend/src/modules/auth/services/FirebaseAuthService.ts
  backend/src/shared/database/interfaces/IUserRepository.ts
  backend/src/shared/database/providers/mongo/repositories/UserRepository.ts
  backend/src/shared/middleware/rateLimiter.ts
  pnpm-lock.yaml
Labels: dependencies, backend
